<div class="container">
    <div class="row justify-content-center">
        <div class="col-5 mt-4">
            <h4>ATUALIZAR CLIENTE</h4>
            <form #f="ngForm" (ngSubmit)="onSubmit(f)" *ngIf="selectedUser">
                <div class="form-group">
                    <input 
                        [class.is-invalid]="!name.valid && name.touched" 
                        required
                        [ngModel]="selectedUser.name" 
                        #name="ngModel" 
                        type="text"           
                        name="name"
                        class="form-control"
                        id="name"
                        placeholder="NOME COMPLETO">
                    <div id="name" class="invalid-feedback">
                        Nome é obrigatorio.
                    </div>
                </div>
                <div class="form-group">
                    <input 
                        [class.is-invalid]="!email.valid && email.touched" 
                        [ngModel]="selectedUser.email" 
                        #email="ngModel" 
                        email 
                        required
                        name="email"
                        class="form-control"
                        id="email"
                        placeholder="EMAIL">
                    <div id="email" class="invalid-feedback">
                        Email inválido.
                    </div>
                </div>
                <div class="form-group">
                    <input 
                        [class.is-invalid]="!cpf.valid && cpf.touched" 
                        [ngModel]="selectedUser.cpf" 
                        #cpf="ngModel"
                        required
                        name="cpf"
                        class="form-control"
                        id="cpf"
                        placeholder="CPF">
                    <div id="cpf" class="invalid-feedback">
                        Cpf é obrigatorio.
                    </div>
                </div>
                <button class="btn btn-success m-1" type="submit" 
                    [disabled]="f.invalid">CONTINUAR
                </button>
            </form>  
        </div>
    </div>
</div>