<h4>Lista de Clientes</h4>

<!-- <table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Email</th>
            <th scope="col">Cpf</th>
            <th scope="col">Opções</th>
        </tr>
    </thead>
    <tbody *ngFor="let user of users$ | async">
        <tr>
            <th scope="row">{{user.id}}</th>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.cpf}}</td>
        <td>
            <button 
            [routerLink]="['/editar', user.id]" 
                Stype="button" class="btn btn-info">Update</button>
            <button type="button" class="btn btn-danger"
                (click)="deleteUsers(user.id)">Delete</button>
        </td>
        </tr>
    </tbody>
</table> -->
