@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
h4 {
    color:#143c8d;
    text-align: center;
    margin: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.form-group {
    input {
        padding: 24px 18px;
        font-size: 14px;
    }
}

.btn {
    width: 100%;
    height: 50px;
}